@model IEnumerable<EShopDemo.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-4"></div>
    <div class="col-2 text-right">
        <a asp-action="Create" class="btn btn-primary btn-block"><i class="fa-regular fa-plus"></i> &nbsp; New Product</a>
    </div>
</div>
<br />


<form asp-action="Index">
    <div class="row form-group ">
        <div class="col-3">
            <input type="text" name="largeAmount" class="form-control" value="@ViewBag.text1" placeholder="Large Amount" />
        </div>
        <div class="col-3">
            <input type="text" name="smallAmount" class="form-control" value="@ViewBag.text2" placeholder="Small Amount" />
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-secondary" value="Search" />
        </div>
        <div class="col-3">
            <h5 class="text-success"><i>Total @Model.Count() result found.</i></h5>
        </div>
        <div class="col-2 text-right">
            @if (ViewBag.Status)
            {
                <a asp-action="Index" class="btn btn-info btn-block">See All</a>
            }
        </div>
    </div>
</form>

<table class="table table-striped border" id="productTable">
    <thead>
        <tr class="table-info">
            <th>Sl/No</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialTagId)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var sl = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypes.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialTag.TagName)
                </td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#productTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pdf', 'excel', 'print'
                ]

            });
        });

        $(function () {
            var message = '@TempData["successMsg"]';
            if (message != null) {
                alertify.success(message);
            }
        });
    </script>
}