@model EShopDemo.Models.Order
@using EShopDemo.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Products> products = contextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
}

<br />
<h1 class="text-info">Order Details</h1>
@*@if (TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <h5><strong>Success! </strong> @TempData["SuccessMsg"]</h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h5>@TempData["FailedMsg"]</h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }*@

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <h5><strong>Success! </strong> @ViewBag.SuccessMsg</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if(ViewBag.FailedMsg != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h5>@ViewBag.FailedMsg</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form asp-action="Checkout" enctype="multipart/form-data">
    <div class="row p-4 rounded border">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label asp-for="PhoneNo" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label asp-for="Address" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label asp-for="OrderDate" class="control-label">Order Date</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="OrderDate" type="text" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group">
                @*<input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-info">Cancel</a>*@
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered">
                <thead class="bg-danger">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                        <tr>
                            <td>
                                <img src="~/@product.Image" style="width:150px; height:100px;" />
                            </td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Grand Total: @products.Sum(c => c.Price)</h3>
                <input type="submit" value="Place Order" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
</form>





@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#OrderDate').datepicker({
                showAnim: 'blind',
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}